body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
}

nav {
  padding: 1rem;
  background-color: #4f5768;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #424347;
}